@charset "UTF-8";

/*RESET*/
	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video, button {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*BASE*/
	body{
		font-family:sans-serif;
	}
	h1{
		font-size: 2rem;
		margin: 15px 0;
	}
	h2{
		font-size:1.8rem;
		margin:12px 0;
	}
	h3{
		font-size:1.5rem;
		margin:10px 0;
	}
	.container,.container-md, .container-sm{
		max-width:800px;
		margin: 0 auto;
		padding: 0 20px;
	}
	.p-3{
		padding:15px!important;
	}
	.pt-5{
		margin-top:50px!important;
	}
	.mt-2{
		margin-top: 20px!important;
	}
	.mt-5{
		margin-top: 50px!important;
	}
	.mb-3{
		margin-bottom:30px!important;
	}
	.text-center{
		text-align:center;
	}
	.text-end{
		text-align:right;
	}
	.row{
		display:flex;
		margin:0 -20px;
	}
	.btn{
		cursor:pointer;
		text-decoration:none;
		text-align:center;
		border-radius: 3px;
		padding:5px;
		transition: linear 0.3s;
		border:none;
	}
	.btn-primary{
		background-color: #0096ff;
		color:#e6edee;
	}
	.btn-primary:hover{
		background-color: #016bb6;
	}
	.btn-success{
		background-color: #11a200;
		color:#d5eee2;
	}
	.btn-success:hover{
		background-color: #026c06;
	}
	.btn-secondary{
		background-color: #777777;
		color:#ffffff;
	}
	.btn-secondary:hover{
		background-color: #404040;
	}
	.btn-danger{
		background-color: #c60000;
		color:#ffeaea;
	}
	.btn-danger:hover{
		background-color: #690000;
	}
	
	.col-8{
		width: 60%;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing:border-box;
	}
	.col-12{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing:border-box;
	}
	.offset-2{
		margin-left:20%
	}
	
	.alert{
		padding: 12px 10px;
	    border-radius: 5px;
	}
	.alert.alert-success{
		 background-color: #29bb29;
		 color: #0a3700;
	}
	.alert.alert-danger{
		background-color: #e10707;
		color: #fff6f6;
	}
	
	@media screen and (min-width:576px){
		.col-sm-8{
			width:60%;
		}
		.offset-sm-2{
			margin-left:20%;
		}
		.container-sm{
			max-width:700px;
		}
	}
	
	@media screen and (min-width:768px){
		.col-md-6{
			width:50%;
		}
		.offset-md-3{
			margin-left:25%;
		}
		.container-md{
			max-width:650px;
		}
	}
	
	@media screen and (min-width:992px){
		.col-lg-4{
			width:33%;
		}
		.col-lg-6{
			width:50%;
		}
		.offset-lg-4{
			margin-left:33%;
		}
		.offset-lg-3{
			margin-left:25%;
		}
		
	}
/*HEADERS*/
	.border-bottom{
		border-bottom: solid 2px #939393;
	}
	.d-flex{
		display:flex;
		align-items:center;
	}
	.justify-content-between{
		justify-content: space-between;
	}
	