<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ArticlesController</display-name>
    <servlet-name>ArticlesController</servlet-name>
    <servlet-class>juanlucas.controllers.ArticlesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticlesController</servlet-name>
    <url-pattern>/ArticlesController</url-pattern>
  </servlet-mapping>
  <display-name>ProyectoCRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoriesController</display-name>
    <servlet-name>CategoriesController</servlet-name>
    <servlet-class>juanlucas.controllers.CategoriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesController</servlet-name>
    <url-pattern>/CategoriesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvidersController</display-name>
    <servlet-name>ProvidersController</servlet-name>
    <servlet-class>juanlucas.controllers.ProvidersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvidersController</servlet-name>
    <url-pattern>/ProvidersController</url-pattern>
  </servlet-mapping>
</web-app>